html {
  font-family: "Helvetica";
  font-size: 14px;
  color: black;
}

h1 {
font-size: 3.5rem;
}

h2 {
  font-weight: bold;
}

nav ul {
    list-style-type: none;
}

.topnav {
  display: flex;
  color: #6d6e7a;
  position: fixed;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 6rem;
  z-index: 5;
  background-color: white;
  top: 0;

}





.topnav ul {
  display: flex;
  list-style-type: none;
}

.topnav li{
  padding: .8rem;
}


  .topnav {
    justify-content: center;
  }

@media only screen and (max-width: 800px)
{
  .topnav ul {
    display: none;
  }
}

  .start {
    display: none;

  }

  .login p {
    display: none;
  }
}

.login {
  display: flex;
  align-items: center;
}

.login p
{
  padding-right: 1rem;
}

.start {
  background-color: #4b71fc;
  border-radius: 30px;
  color: white;
  padding: .8rem 2rem;
}

.start:hover {
  background-color: #00004d;
}

.container {
  display: flex;
  color: #34313f;
  height: 40rem;

}

@media only screen and (max-width: 800px)
  { .container {
    height: 60rem;
    border-bottom: 20rem;
    }
}

.maintext {
  position: relative;
  top: 30%;
  left: 10%;
  height: 20rem;
  width: 35rem;
}

.begin {
  background-color: #4b71fc;
  border-radius: 30px;
  color: white;
  padding: .8rem 3rem;
}

.begin:hover {
  background-color: #00004d;
}

.maintext p {
  line-height: 2rem;
}

.ninja {
  position: relative;
  top: 20%;
  left: 20%;
}

.ninja img {
  height: 25rem;
  width: 25rem;
}

.maintwo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.who {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 20rem;
  width: 70rem;
  padding-top: 5rem;

}

.who span {
  padding: 2rem;
  color: #34313f;
  background-color: #f6f7f9;
  margin: 3rem;
  line-height: 1.5rem;
  height: 15rem;
  width: 20rem;
}


.deco {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}


@media only screen and (max-width: 800px)
{ .who {
  flex-wrap: wrap;
  display: flex;
  
 }

 .maintwo {
   height: 100rem;
 }
}
footer {
  font-size: .9rem;
  display: flex;
  background-color: #34313f;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  width: 100%;
  color: white;
  list-style-type: none !important;

}

.title {
  color: #86848c;
  list-style-type: none;

}

.cont1 {
  line-height: 1.8rem;
  height: 15rem;
  column-count: 2;
  list-style-type: none;
}
